{%extends "base.html" %}

{% block title %} Person {% endblock %}
{% block conteudo %}
<h1 style="text-align: center;">Lista de Pessoas Cadastradas</h1>
<a href="{% url 'create' %}" class="btn btn-primary">
    Cadastrar
</a>
<div class="row">
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        {% for pessoa in object_list %}
            <tbody>
            <tr>
                <th scope="row">{{ pessoa.id }}</th>
                <td>
                    {{ pessoa.nome }}
                </td>
                <td>
                    {{ pessoa.idade }}
                </td>
                <td>
                    <a href="{% url 'person_update' pessoa.id %}">
                        <i class="fa fa-pencil-alt"></i>
                    </a>
                    <a href="{% url 'person_delete' pessoa.pk %}">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
        </table>
</div>
{% endblock %}
